[submodule "argo/app/argo-cd"]
	path = apps/argo-cd/app/argo-cd/argo-cd
	url = https://github.com/argoproj/argo-cd.git
	branch = release-1.5
[submodule "apps/rook-ceph/rook"]
	path = apps/rook-ceph/rook
	url = https://github.com/rook/rook.git
	branch = release-1.3
